
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

</head>
<body>
    <div class="notification-icon" style="margin-top:10px">
        <span class="glyphicon glyphicon-envelope"></span>
        <span class="badge" id="ntCnt"></span>
    </div>

    <div id="divNotification">

    </div>
</body>
</html>
